In [1]:
import pandas as pd

In [2]:
data_sets = ['city_attributes.csv','humidity.csv','pressure.csv','temperature.csv','weather_description.csv','wind_direction.csv','wind_speed.csv']
us_accidents_vars = ['Severity', 'Start_Time', 'End_Time', 'Distance(mi)', 'City']
us_accidents = pd.read_csv('/Users/nordin/informatie_visualizatie/docs/resources/US_Accidents_March23.csv')
humidity = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[1]}')
pressure = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[2]}')
temperature = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[3]}')
weather_description = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[4]}')
wind_direction = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[5]}')
wind_speed = pd.read_csv(f'/Users/nordin/informatie_visualizatie/docs/resources/dataset_weather/{data_sets[6]}')

In [3]:
us_accidents_filtered = us_accidents[us_accidents_vars]

# Save the filtered dataset to a new CSV file
us_accidents_filtered.to_csv('/Users/nordin/informatie_visualizatie/docs/resources/US_Accidents_Filtered.csv', index=False)

# Display the first few rows of the filtered dataset to verify
us_accidents_filtered.head()

,Severity,Start_Time,End_Time,Distance(mi),City
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,0.01,Dayton
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,0.01,Reynoldsburg
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,0.01,Williamsburg
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,0.01,Dayton
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,0.01,Dayton

In [4]:
correlation_matrix = us_accidents_filtered.corr()

# Print the correlation matrix
print(correlation_matrix)

              Severity  Distance(mi)
Severity      1.000000      0.034787
Distance(mi)  0.034787      1.000000

In [7]:
def mean_calc(df):
    total_mean = 0
    for i in range(1,37):
        total_mean += df.iloc[1].mean()
    return total_mean/36

/var/folders/5r/4dlwcpf56d76tctrcxgmk99w0000gn/T/ipykernel_19484/4144758073.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  humidity.mean()

In [17]:
humidity.mean()

/var/folders/5r/4dlwcpf56d76tctrcxgmk99w0000gn/T/ipykernel_19484/20230380.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  humidity.mean()

Vancouver            81.895480
Portland             74.697616
San Francisco        76.875042
Seattle              77.159038
Los Angeles          62.773841
San Diego            67.784809
Las Vegas            31.937831
Phoenix              37.484424
Albuquerque          45.186157
Denver               53.022557
San Antonio          67.700799
Dallas               64.323764
Houston              74.065585
Kansas City          66.629736
Minneapolis          71.244172
Saint Louis          70.598763
Chicago              74.434918
Nashville            68.240344
Indianapolis         72.383859
Atlanta              70.846758
Detroit              72.477574
Jacksonville         76.439481
Charlotte            70.189190
Miami                75.512362
Pittsburgh           70.364289
Toronto              76.361909
Philadelphia         68.017769
New York             66.642417
Montreal             71.861538
Boston               77.375301
Beersheba            70.604857
Tel Aviv District    66.861509
Eilat                53.155184
Haifa                79.800383
Nahariyya            78.606760
Jerusalem            68.732293
dtype: float64

In [ ]:
pd.DataFrame.head(df,n=5)