In [2]:
import pandas as pd

In [5]:
data_sets = ['city_attributes.csv','humidity.csv','pressure.csv','temperature.csv','weather_description.csv','wind_direction.csv','wind_speed.csv']
us_accidents_vars = ['Severity', 'Start_Time', 'End_Time', 'Distance(mi)', 'City']
us_accidents = pd.read_csv('../resources/us_accidents.csv')
humidity = pd.read_csv(f'../resources/dataset_weather/{data_sets[1]}')
pressure = pd.read_csv(f'../resources/dataset_weather/{data_sets[2]}')
temperature = pd.read_csv(f'../resources/dataset_weather/{data_sets[3]}')
weather_description = pd.read_csv(f'../resources/dataset_weather/{data_sets[4]}')
wind_direction = pd.read_csv(f'../resources/dataset_weather/{data_sets[5]}')
wind_speed = pd.read_csv(f'../resources/dataset_weather/{data_sets[6]}')

In [6]:
us_accidents_filtered = us_accidents[us_accidents_vars]

# Save the filtered dataset to a new CSV file
us_accidents_filtered.to_csv('../resources/us_accidents.csv', index=False)

# Display the first few rows of the filtered dataset to verify
us_accidents_filtered.head()

,Severity,Start_Time,End_Time,Distance(mi),City
0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,0.01,Dayton
1,2,2016-02-08 06:07:59,2016-02-08 06:37:59,0.01,Reynoldsburg
2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,0.01,Williamsburg
3,3,2016-02-08 07:23:34,2016-02-08 07:53:34,0.01,Dayton
4,2,2016-02-08 07:39:07,2016-02-08 08:09:07,0.01,Dayton

In [ ]:
correlation_matrix = us_accidents_filtered.corr()

# Print the correlation matrix
print(correlation_matrix)

              Severity  Distance(mi)
Severity      1.000000      0.034787
Distance(mi)  0.034787      1.000000

In [ ]:
def mean_calc(df):
    total_mean = 0
    for i in range(1,37):
        total_mean += df.iloc[1].mean()
    return total_mean/36

/var/folders/5r/4dlwcpf56d76tctrcxgmk99w0000gn/T/ipykernel_19484/4144758073.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  humidity.mean()

In [ ]:
humidity.mean()

/var/folders/5r/4dlwcpf56d76tctrcxgmk99w0000gn/T/ipykernel_19484/20230380.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  humidity.mean()

Vancouver            81.895480
Portland             74.697616
San Francisco        76.875042
Seattle              77.159038
Los Angeles          62.773841
San Diego            67.784809
Las Vegas            31.937831
Phoenix              37.484424
Albuquerque          45.186157
Denver               53.022557
San Antonio          67.700799
Dallas               64.323764
Houston              74.065585
Kansas City          66.629736
Minneapolis          71.244172
Saint Louis          70.598763
Chicago              74.434918
Nashville            68.240344
Indianapolis         72.383859
Atlanta              70.846758
Detroit              72.477574
Jacksonville         76.439481
Charlotte            70.189190
Miami                75.512362
Pittsburgh           70.364289
Toronto              76.361909
Philadelphia         68.017769
New York             66.642417
Montreal             71.861538
Boston               77.375301
Beersheba            70.604857
Tel Aviv District    66.861509
Eilat                53.155184
Haifa                79.800383
Nahariyya            78.606760
Jerusalem            68.732293
dtype: float64

In [ ]:
pd.DataFrame.head(df,n=5)

In [17]:
df = pd.read_csv('../resources/us_accidents_filtered.csv', encoding='unicode_escape')
# df.drop(columns=['Source', 'Description','Street', 'Zipcode', 'Country', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
# 'Humidity(%)',
# 'Pressure(in)',
# 'Visibility(mi)',
# 'Wind_Direction',
# 'Wind_Speed(mph)',
# 'Precipitation(in)',
# 'Weather_Condition',
# 'Start_Lat',
# 'Start_Lng',
# 'End_Lat',
# 'End_Lng'])

# del df['Source']
# del df['Description']
# del df['Street']
# del df['Zipcode']
# del df['Country']
# del df['Airport_Code']
# del df['Weather_Timestamp']
# del df['Temperature(F)']
# del df['Wind_Chill(F)']
# del df['Humidity(%)']
# del df['Pressure(in)']
# del df['Visibility(mi)']
# del df['Wind_Direction']
# del df['Wind_Speed(mph)']
# del df['Precipitation(in)']
# del df['Weather_Condition']
# del df['Start_Lat']
# del df['Start_Lng']
# del df['End_Lat']
# del df['End_Lng']
# del df['ID']



# Filter rows where the date is in the year 2016 or 2017
df = df[(df['Start_Time'].dt.year == 2016) | (df['Start_Time'].dt.year == 2017)]

df.to_csv('../resources/us_accidents_filtered.csv', index=False)
df.head()

ValueError: unconverted data remains when parsing with format "%Y-%m-%d %H:%M:%S": ".000000000", at position 3639775. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [3]:
df = pd.read_csv('../resources/US_Accidents_March23.csv')
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [19]:
import pandas as pd  #Alleen van 2016 en 2017 def code(file_path, output):     df = pd.read_csv(file_path)      us_accidents_vars = ['Severity', 'Start_Time', 'End_Time', 'Distance(mi)', 'City']      date_format = "%Y-%m-%d %H:%M:%S"     df['Start_Time'] = pd.to_datetime(df['Start_Time'], format=date_format, errors='coerce')      new_data = df[(df['Start_Time'].dt.year == 2016) | (df['Start_Time'].dt.year == 2017)]     new_data = new_data[us_accidents_vars]      new_data.to_csv(output, index=False)   code('US_Accidents_March23.csv','C:\Users\gijsv\Desktop\code\outputcode.csv')
import pandas as pd

#Alleen van 2016 en 2017
def code(file_path, output):
    df = pd.read_csv(file_path)

    us_accidents_vars = ['Severity', 'Start_Time', 'End_Time', 'Distance(mi)', 'City']

    date_format = "%Y-%m-%d %H:%M:%S"
    df['Start_Time'] = pd.to_datetime(df['Start_Time'], format=date_format, errors='coerce')

    new_data = df[(df['Start_Time'].dt.year == 2016) | (df['Start_Time'].dt.year == 2017)]
    new_data = new_data[us_accidents_vars]

    new_data.to_csv(output, index=False)


code('../resources/us_accidents_filtered.csv', '../resources/us_accidents_filtered_rows.csv')